body {
    font-family: "arial";
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: rgb(128, 128, 128);
}

#container {
    background-color: white;
    box-sizing: border-box;
    max-width: 90%;
    margin: 0px auto;
    border: 2px solid gray;
}

#hiperblog {
    background-color: blueviolet;
    color: white;
    padding: 1px;
}

#img-hiperblog{
    float: left;
    padding-left: 350px;
    
}
h1 {
    text-align: center;
    font-family: "lucida sans";
    text-shadow: 0px 5px rgb(165, 42, 42, 0.75);
    text-align: left;
}