body 
{
    font-family: "arial";
    text-align: center;
    padding: 0 auto;
    color: rgb(128, 128, 128);

#container 
{
   background-color: aqua;
   padding: 2 px 50px solid gray;
   box-sizing: border-box;

}

h1
{
    text-shadow: 0px 5px rgb(165, 42, 42, 0.75);
    text-decoration: overline;
}